<!doctype html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="../static/styles.css">
      <link rel="import" href="header.html">

      <title>CosyStore</title>
   </head>
   <body>
      <nav id="lk" class="navbar navbar-expand-lg">
         <a id="userName" class="mr-auto" href="#"></a>
         <a class="upper-nav-item" href="#"><i class="far fa-heart"></i> Список желаний</a>
         <a class="upper-nav-item" href="#"><i class="fas fa-shopping-basket"></i> Корзина</a>
         <a class="upper-nav-item" href="#" style="margin-left: 30px; color: #666;">Войти</a>
      </nav>
      <nav class="navbar navbar-expand-lg" style="margin-top: 30px;">
         <div class="container">
            <a class="navbar-brand" href="index.ftl">CosySt<img src="img\home.png" height="26px" width="20px">re</a>
            <ul class="navbar-nav mr-auto">
               <li class="nav-item dropdown" style="margin-right: 20px;">
                  <span class="nav-link dropdown-toggle" id="navDrop1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Товары
                  </span>
                  <div class="dropdown-menu" aria-labelledby="navDrop1">
                     <a class="dropdown-item" href="#">Стеллажи и серванты</a>
                     <a class="dropdown-item" href="#">Кровати</a>
                     <a class="dropdown-item" href="#">Кухонные шкафы</a>
                     <a class="dropdown-item" href="#">Столы и стулья</a>
                     <a class="dropdown-item" href="#">Мягкая мебель</a>
                     <a class="dropdown-item" href="#">Хранение одежды</a>
                     <a class="dropdown-item" href="#">Текстиль и ковры</a>
                     <a class="dropdown-item" href="#">Зеркала и аксессуары</a>
                  </div>
               </li>
               <li class="nav-item dropdown" style="margin-right: 20px;">
                  <span class="nav-link dropdown-toggle" id="navDrop2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Комнаты
                  </span>
                  <div class="dropdown-menu" aria-labelledby="navDrop2">
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Цена ниже</a>
               </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" id="search">
               <input class="form-control mr-sm-2" id="search-input" type="search" placeholder="Что вы ищете?" aria-label="Search">
               <button class="btn my-2 my-sm-0 py-0" type="submit"><i class="material-icons" style="line-height: 1.5">&#xe8b6;</i></button>
            </form>
            
         </div>

      </nav>

      <div id="content" class="container">
         <div class="goods">
               <div class="card">
                  <div class="card-img-holder">
                     <img class="card-img" src="img\tables\worktable1.jpg" class="card-img-top">
                  </div>
                  <div class="card-body">
                     <h5 class="card-title">Письменный стол</h5>
                     <p class="card-text">Размер столешницы: 131x60см</p>
                     <h2 class="price" align="right">11 999</h2>
                     <div class="row" style="height: 50px;">
                        <div class="col pr-2">
                           <a href="#">
                              <div class="wish-btn"><span class="h-icon"><i class="far fa-heart"></i></span><br>В пожелания</div>
                           </a>
                        </div>
                        <div class="col pl-2">
                           <a href="#">
                              <div class="basket-btn"><span class="b-icon"><i class="fas fa-shopping-basket"></i></span><br>В корзину</div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            
         </div>


      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

   </body>
</html>